.container {
    margin-top: 50px;
}
footer.container {
    margin-top: 0;
}
footer {
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    height: 60px;
    border-top: 2px solid white;
    background-size: cover;
    text-align: center;
    background-color: black;
    color: white;
}

#header {
    background-image: url(./images/banner.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
}